<!--
	Copyright 2020 Eurac Research. All rights reserved.
	Use of this source code is governed by the Apache 2.0
	license that can be found in the LICENSE file.
-->

{{define "content"}}
<main class="page">
	<article>
		{{.Content}}
	</article>
</main>

<footer>
	<a href="http://www.eurac.edu" target="_blank" rel="noreferrer"><img src="/assets/images/eurac_research.png" width="120" alt="Eurac Research"></a> <a href="http://www.provinz.bz.it/" target="_blank" rel="noreferrer"><img src="/assets/images/provinz_bz.jpg" alt="Autonome Provinz Bozen Südtirol - Provincia autonoma di Bolzano Alto Adige" width="180"></a>
</footer>

{{end}}
