<h1>Data Browser Matsch | Mazia</h1>

<p>Willkommen auf der Data Browser Matsch | Mazia!
Diese Anwendung bietet eine benutzerfreundliche Oberfläche zum Herunterladen der meteorologischen und biophysikalischen Variablen, welche im <a href="http://lter.eurac.edu/de/">sozio-ökologischen Langzeitforschungs-Standort Matschertal / Val di Mazia erhoben werden!</a></p>

<h1>Daten Lizenz</h1>

<p>Die öffentlichen Daten, die ohne Registrierung verfügbar sind, werden mit einer <a href="https://creativecommons.org/licenses/by/4.0/deed.de">CC BY 4.0 Lizenz ausgegeben</a>.
Nutzer dürfen das Material in jeder Form und mit jedem Medium vervielfältigen und weiterverbreiten. 
Bitte nennen Sie den Urheber der Daten wie folgt: <i>"Wir danken Eurac Research und dem sozio-ökologischen Langzeitforschungs-Standort LT(S)ER IT25 - Matsch/Mazia - Italien, für die Bereitstellung von Daten, (DEIMS.iD: https://deims.org/11696de6-0ab9-4c94-a06b-7ce40f56c964)"</i>.
</p>

<h1>Software paper</h1>

<p>Kurze Beschreibung (nur auf Englisch) der Web-Anwendung und ihrer Funktionen.
<a href="https://riojournal.com/article/63748/"> Data Browser Matsch | Mazia: Web Application to access microclimatic time series of an ecological research site.</a></p>

<h1>Haftungsausschluss</h1>

<p>Der Datenanbieter Eurac Research übernimmt keine Verantwortung für die Qualität der mit dieser Anwendung heruntergeladenen Daten.</p>

<h1>Wie funktionierts?</h1>
<p>Nachdem Sie die Stationen, Sensoren und den gewünschten Zeitraum ausgewählt haben, können Sie die Datentabelle im csv- oder excel-Format speichern.</p>

<h1>Legende zur heruntergeladenen Tabelle</h1>

<p>Die folgende Tabelle erklärt die Spaltenbeschriftungen und schlüsselt die Messcodes auf.</p>

<ul>
<li><em>time:</em> Zeitstempel (UTC +1)</li>
<li><em>station:</em> Stationsname</li>
<li><em>landuse code:</em> Landnutzung (me = Wiese, pa = Weide, bs = nackt Boden , fo = Wald)</li>
<li><em>elevation:</em> Meereshöhe der Station in Meter</li>
<li><em>latitude:</em> Breitengrad in Dezimalgraden</li>
<li><em>longitude:</em> Längengrad in Dezimalgraden</li>
<li><em>air_rh_avg:</em> Relative Luftfeuchte in Prozent (15 min Mittelwert)</li>
<li><em>air_t_avg:</em> Lufttemperatur Grad Celsius (15 min Mittelwert)</li>
<li><em>precip_rt_nrt_tot:</em> Niederschlag in mm (15 min kumulative Summe)</li>
<li><em>snow_height:</em> Schneehöhe in Meter</li>
<li><em>sr_avg:</em> Globalstrahlung in Watt pro Quadratmeter (15 min Mittelwert)</li>
<li><em>wind_dir:</em> Windrichtung in Grad (15 min Mittelwert)</li>
<li><em>wind_speed_avg:</em> Windgeschwindigkeit in m/s</li>
<li><em>wind_speed_max:</em> Windböe in m/s.</li>
</ul>

<h1>Danksagungen</h1>

<p>Projekt-Team: Stefano Della Chiesa, Alessandro Zandonai, Christian Brida, Georg Niedrist, Martin Palma, Luca Cattani, Norbert Andreatta, <a href="http://www.eurac.edu/en/Pages/default.aspx">Eurac research.</a></p>
